/* Footer.css */

.footer-container {
  background-color: #f8f9fa;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #ccc;
  width: 100%;
  position:absolute;
  left:0px;
  bottom:0px;
  margin-top: auto;
}

.footer-icons1{
  max-width: 30px;
  height: auto;
}